<li>
<a class="navbar-brand" href="{{root.url}}">unMonastery<img class="logo" src="/assets/images/unmon_notext.png"></a>
</li>
<li><a href="{{news.url}}">{{news.label}}</a></li>
<li class="dropdown">
	<a href="{{overview.url}}" class="dropdown-toggle" data-toggle="dropdown">{{overview.label}} <b class="caret"></b></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{about.url}}">{{about.label}}</a></li>
		<li><a href="{{challenges.url}}">{{challenges.label}}</a></li>
		<li><a href="{{wishlist.url}}">{{wishlist.label}}</a></li>
		<li><a href="{{faq.url}}">{{faq.label}}</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="{{community.url}}" class="dropdown-toggle" data-toggle="dropdown">{{community.label}} <b class="caret"></b></a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{peers.url}}">{{peers.label}}</a></li>
		<li><a href="{{people.url}}">{{people.label}}</a></li>
		<li><a href="{{events.url}}">{{events.label}}</a></li>
	</ul>
</li>
<li><a href="{{projects.url}}">{{projects.label}}</a></li>
<li><a href="{{visiting.url}}">{{visiting.label}}</a></li>
