<li>
<a class="navbar-brand" href="{{root.url}}">unMonastery<img class="logo" src="/assets/images/unmon_notext.png"></a>
</li>
<li><a href="{{people.url}}">{{people.label}}</a></li>
<li><a href="{{projects.url}}">{{projects.label}}</a></li>
