<li>
<a class="navbar-brand" href="{{root.url}}">unMonastery<img class="logo" src="/assets/images/unmon_notext.png"></a>
</li>
<li><a href="{{news.url}}">{{news.label}}</a></li>
<li><a href="{{overview.url}}">{{overview.label}}</a></li>
	<!--<ul>
		<li><a href="{{about.url}}">{{about.label}}</a></li>
		<li><a href="{{faq.url}}">{{faq.label}}</a></li>
		<li><a href="{{challenges.url}}">{{challenges.label}}</a></li>
	</ul>-->
<li><a href="{{community.url}}">{{community.label}}</a></li>
	<!--<ul>
		<li><a href="{{peers.url}}">{{peers.label}}</a></li>
		<li><a href="{{people.url}}">{{people.label}}</a></li>
		<li><a href="{{events.url}}">{{events.label}}</a></li>
	</ul>-->
<li><a href="{{projects.url}}">{{projects.label}}</a></li>
<li><a href="{{visiting.url}}">{{visiting.label}}</a></li>
