<div class="jumbotron" typeof={{type}}>
  <img class="img-thumbnail" property="image" src="{{image}}">
  <h1 property="name">{{name}}</h1>
  <div property="description">
    {{{tmd description}}}
  </div>
  {{#if oembed}}
  <div class="oembed">{{{oembed}}}</div>
  {{/if}}
  <div class="video">
    {{#if video}}
    <a href="{{video}}">{{video}}</a>
    {{else}}
    no video yet :(
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Challenges</h2>
    <p>Fill this in with the <a href="http://unmonastery.eu/index.php/goals/challenges-matera/" target="_blank">challenges</a> you're addressing while in Matera.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="col-md-4">
    <h2>Projects</h2>
    <p>Links to the project(s) on which you're working.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="col-md-4">
    <h2>Peers</h2>
    <p>Because we can't do it alone. Links please.</p>
  </div><!--/span-->
</div><!--/row-->
