<div class="jumbotron" typeof={{type}}>
  <img class="img-thumbnail" property="image" src="{{image}}">
  <h1 property="name">{{name}}</h1>
  <div property="description">
    {{{tmd description}}}
  </div>
  {{#if oembed}}
  <div class="oembed">{{{oembed}}}</div>
  {{/if}}
  <div class="video">
    {{#if video}}
    <a href="{{video}}">{{video}}</a>
    {{else}}
    no video yet :(
    {{/if}}
  </div>
</div>
